## Intégration des vacances et des fêtes

In [46]:
import os
import importlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from describe import stats_histo
import problem
import warnings
pd.set_option('display.max_columns', None)
warnings.filterwarnings("ignore")

On importe les données initiales

In [104]:
X_train, y_train = problem.get_train_data()

In [48]:
X_train.head()

  DateOfDeparture Departure Arrival  WeeksToDeparture   std_wtd
0      2012-06-19       ORD     DFW         12.875000  9.812647
1      2012-09-10       LAS     DEN         14.285714  9.466734
2      2012-10-05       DEN     LAX         10.863636  9.035883
3      2011-10-09       ATL     ORD         11.480000  7.990202
4      2012-02-21       DEN     SFO         11.450000  9.517159

In [105]:
holiday = pd.read_csv("data/us-federal-holidays-2011-2020.csv")

In [106]:
holiday.head()

         Date                              Holiday
0  12/31/2010                       New Year's Day
1   1/17/2011  Birthday of Martin Luther King, Jr.
2   2/21/2011                Washington's Birthday
3   5/30/2011                         Memorial Day
4    7/4/2011                     Independence Day

In [107]:
X_train["DateOfDeparture"] = pd.to_datetime(X_train.DateOfDeparture)

# - - - - - - - 

holiday = holiday.rename(columns={'Date': 'DateOfDeparture'})
holiday["DateOfDeparture"] = pd.to_datetime(holiday["DateOfDeparture"])

X_train = pd.merge(X_train, holiday, 
              how='left',
              on=["DateOfDeparture"],
             sort=False)

X_train["Holiday"] = pd.get_dummies(X_train.Holiday.isnull().astype(int))

In [126]:
X_train["Y"] = y_train

L'ANOVA ou test de Student dans le cas de deux échantillons teste l'hypothèse nulle que un ou plusieurs groupes ont la même moyenne.

In [136]:
from scipy.stats import f_oneway, ttest_ind

test = ttest_ind(X_train["Y"][X_train["Holiday"] == 1],
                 X_train["Y"][X_train["Holiday"] == 0])

print("Statistique de test :",test.statistic)
print("P-valeur :",test.pvalue.round(4))

Statistique de test : -6.329835202510881
P-valeur : 0.0