In [10]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/pleydier/Air_Passengers_Answer/master/Soumission%20Ramp/LightGBM/external_data.csv')

In [7]:
my_extern = pd.read_csv('submissions/submit/external_data.csv', index_col=0)

In [11]:
my_extern.head()

,Date,AirPort,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressurehPa,Mean Sea Level PressurehPa,Min Sea Level PressurehPa,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,CloudCover,Events,WindDirDegrees,TOTAL_DEPARTURE,TOTAL_DESTINATION,unemployment,INDEX_PRICE,Index_passengers,Price,Holiday
0,2011-09-01,ATL,35,29,24,21,18,14,79,56,32,1022,1019,1017,16,16,11,19,6,26.0,3,Sun,129,3582088,3580851,10.995779,0.151846,115.0,85.52,0.0
1,2011-09-02,ATL,36,29,22,17,15,14,61,46,30,1019,1016,1014,16,16,16,24,7,34.0,2,Sun,185,3582088,3580851,10.995779,0.151846,115.0,85.52,0.0
2,2011-09-03,ATL,35,29,23,17,16,14,64,47,30,1015,1013,1011,16,16,16,19,7,26.0,4,Sun,147,3582088,3580851,10.995779,0.151846,115.0,85.52,1.0
3,2011-09-04,ATL,27,24,22,22,19,16,93,72,51,1014,1012,1011,16,14,4,21,9,26.0,6,Rain,139,3582088,3580851,10.995779,0.151846,115.0,85.52,2.0
4,2011-09-05,ATL,26,24,22,23,22,20,94,91,87,1010,1005,999,16,13,3,32,16,45.0,8,Extrem,149,3582088,3580851,10.995779,0.151846,115.0,85.52,3.0

In [12]:
data.head()

,Date,AirPort,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressurehPa,Mean Sea Level PressurehPa,Min Sea Level PressurehPa,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees,DateOfDeparture,is_weekend,is_holiday,is_close_from_weekend_or_holiday,City,State,Unemployment_Rate,Peer_capita_income,Median_income,Average Wage,Net_domestic_migration_rate_per_1000_hab,TFR 2018,lat,lon,elevation,city_population
0,2011-09-01,ATL,35,29,24,21,18,14,79,56,32,1022,1019,1017,16,16,11,19,6,26.0,0.00,3,NaN,129,2011-09-01,False,False,False,Atlanta,Georgia,3.9,58756,49321,56350,3.98,1.79,33.6367,-84.428101,1026,498044
1,2011-09-02,ATL,36,29,22,17,15,14,61,46,30,1019,1016,1014,16,16,16,24,7,34.0,0.00,2,NaN,185,2011-09-02,False,False,True,Atlanta,Georgia,3.9,58756,49321,56350,3.98,1.79,33.6367,-84.428101,1026,498044
2,2011-09-03,ATL,35,29,23,17,16,14,64,47,30,1015,1013,1011,16,16,16,19,7,26.0,0.00,4,NaN,147,2011-09-03,True,False,False,Atlanta,Georgia,3.9,58756,49321,56350,3.98,1.79,33.6367,-84.428101,1026,498044
3,2011-09-04,ATL,27,24,22,22,19,16,93,72,51,1014,1012,1011,16,14,4,21,9,26.0,6.10,6,Rain,139,2011-09-04,True,False,False,Atlanta,Georgia,3.9,58756,49321,56350,3.98,1.79,33.6367,-84.428101,1026,498044
4,2011-09-05,ATL,26,24,22,23,22,20,94,91,87,1010,1005,999,16,13,3,32,16,45.0,16.00,8,Rain-Thunderstorm,149,2011-09-05,False,True,True,Atlanta,Georgia,3.9,58756,49321,56350,3.98,1.79,33.6367,-84.428101,1026,498044

In [13]:
import problem

In [14]:
X,y = problem.get_train_data()

In [60]:
my_extern

,Date,AirPort,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressurehPa,Mean Sea Level PressurehPa,Min Sea Level PressurehPa,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,CloudCover,Events,WindDirDegrees,TOTAL_DEPARTURE,TOTAL_DESTINATION,unemployment,INDEX_PRICE,Index_passengers,Price,Holiday
0,2011-09-01,ATL,35,29,24,21,18,14,79,56,32,1022,1019,1017,16,16,11,19,6,26.0,3,Sun,129,3582088,3580851,10.995779,0.151846,115.0,85.52,0.0
1,2011-09-02,ATL,36,29,22,17,15,14,61,46,30,1019,1016,1014,16,16,16,24,7,34.0,2,Sun,185,3582088,3580851,10.995779,0.151846,115.0,85.52,0.0
2,2011-09-03,ATL,35,29,23,17,16,14,64,47,30,1015,1013,1011,16,16,16,19,7,26.0,4,Sun,147,3582088,3580851,10.995779,0.151846,115.0,85.52,1.0
3,2011-09-04,ATL,27,24,22,22,19,16,93,72,51,1014,1012,1011,16,14,4,21,9,26.0,6,Rain,139,3582088,3580851,10.995779,0.151846,115.0,85.52,2.0
4,2011-09-05,ATL,26,24,22,23,22,20,94,91,87,1010,1005,999,16,13,3,32,16,45.0,8,Extrem,149,3582088,3580851,10.995779,0.151846,115.0,85.52,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11035,2013-03-01,LGA,7,5,3,-1,-3,-4,76,63,49,1008,1005,1002,16,16,16,34,21,42.0,6,Cloud,320,1164319,1141295,8.604839,0.261451,116.3,92.94,0.0
11036,2013-03-02,LGA,4,2,0,-2,-5,-6,82,65,48,1008,1007,1006,16,15,6,34,20,40.0,8,Snow,317,1164319,1141295,8.604839,0.261451,116.3,92.94,0.0
11037,2013-03-03,LGA,4,2,-1,-5,-8,-9,69,55,40,1008,1006,1004,16,15,8,39,24,50.0,6,Snow,314,1164319,1141295,8.604839,0.261451,116.3,92.94,0.0
11038,2013-03-04,LGA,5,2,-2,-7,-8,-9,63,54,44,1012,1009,1008,16,16,16,47,31,60.0,3,Sun,313,1164319,1141295,8.604839,0.261451,116.3,92.94,0.0
11039,2013-03-05,LGA,9,5,1,-3,-5,-7,61,49,37,1016,1015,1013,16,16,16,39,16,48.0,2,Sun,5,1164319,1141295,8.604839,0.261451,116.3,92.94,0.0

In [57]:
view = X.merge(data[["Net_domestic_migration_rate_per_1000_hab",
                     'city_population',"Median_income",'Date','AirPort']], how='left', 
        left_on=["DateOfDeparture", "Arrival"],
       right_on=["Date",'AirPort'])

In [59]:
np.corrcoef(y,view["Average Wage"])

array([[ 1.        , -0.01484184],
       [-0.01484184,  1.        ]])

In [66]:
extern_augmented = my_extern.merge(data[["Net_domestic_migration_rate_per_1000_hab",
                     'city_population',"Median_income",'Date','AirPort']], how='left', 
        on=["Date", "AirPort"])

In [67]:
extern_augmented.to_csv('extern.csv')

In [69]:
test = X.merge(extern_augmented, how='left', 
        left_on=["DateOfDeparture", "Arrival"],
       right_on=["Date",'AirPort'])

In [74]:
for i in test :
    try : 
        print(i)
        print(np.corrcoef(y,test[i]))
    except :
        pass

DateOfDeparture
Departure
Arrival
WeeksToDeparture
[[1.         0.16345274]
 [0.16345274 1.        ]]
std_wtd
[[1.         0.10923102]
 [0.10923102 1.        ]]
Date
AirPort
Max TemperatureC
[[1.         0.08275744]
 [0.08275744 1.        ]]
Mean TemperatureC
[[1.         0.09895804]
 [0.09895804 1.        ]]
Min TemperatureC
[[1.         0.11446138]
 [0.11446138 1.        ]]
Dew PointC
[[1.         0.14645041]
 [0.14645041 1.        ]]
MeanDew PointC
[[1.         0.14037778]
 [0.14037778 1.        ]]
Min DewpointC
[[1.         0.13219435]
 [0.13219435 1.        ]]
Max Humidity
[[1.         0.09061961]
 [0.09061961 1.        ]]
Mean Humidity
[[1.         0.08344611]
 [0.08344611 1.        ]]
Min Humidity
[[1.         0.06781617]
 [0.06781617 1.        ]]
Max Sea Level PressurehPa
[[ 1.         -0.05989081]
 [-0.05989081  1.        ]]
Mean Sea Level PressurehPa
[[ 1.       -0.037448]
 [-0.037448  1.      ]]
Min Sea Level PressurehPa
[[ 1.         -0.01431508]
 [-0.01431508  1.        ]]
Max VisibilityKm
[[1.         0.00338242]
 [0.00338242 1.        ]]
Mean VisibilityKm
[[ 1.         -0.00983447]
 [-0.00983447  1.        ]]
Min VisibilitykM
[[ 1.         -0.02784698]
 [-0.02784698  1.        ]]
Max Wind SpeedKm/h
[[1.         0.01784495]
 [0.01784495 1.        ]]
Mean Wind SpeedKm/h
[[1.         0.01128213]
 [0.01128213 1.        ]]
Max Gust SpeedKm/h
[[1.         0.01653564]
 [0.01653564 1.        ]]
CloudCover
[[1.      0.00759]
 [0.00759 1.     ]]
Events
WindDirDegrees
[[1.         0.00296706]
 [0.00296706 1.        ]]
TOTAL_DEPARTURE
[[1.         0.09902828]
 [0.09902828 1.        ]]
TOTAL_DESTINATION
[[1.         0.10043848]
 [0.10043848 1.        ]]
unemployment
[[1.         0.02961596]
 [0.02961596 1.        ]]
INDEX_PRICE
[[1.         0.01017654]
 [0.01017654 1.        ]]
Index_passengers
[[ 1.         -0.11410656]
 [-0.11410656  1.        ]]
Price
[[ 1.         -0.03477906]
 [-0.03477906  1.        ]]
Holiday
[[ 1.         -0.16896294]
 [-0.16896294  1.        ]]
Net_domestic_migration_rate_per_1000_hab
[[ 1.         -0.19407818]
 [-0.19407818  1.        ]]
city_population
[[1.         0.14093397]
 [0.14093397 1.        ]]
Median_income
[[1.         0.11147317]
 [0.11147317 1.        ]]