# Ajout de variables

Ce notebook permet de créer la variable distance à intégrer à notre jeu de données.

In [62]:
import os
import importlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from describe import stats_histo
import problem
import warnings
import math
pd.set_option('display.max_columns', None)
warnings.filterwarnings("ignore")

On importe les données initiales

In [3]:
X_train, y_train = problem.get_train_data()

In [4]:
X_train.head()

  DateOfDeparture Departure Arrival  WeeksToDeparture   std_wtd
0      2012-06-19       ORD     DFW         12.875000  9.812647
1      2012-09-10       LAS     DEN         14.285714  9.466734
2      2012-10-05       DEN     LAX         10.863636  9.035883
3      2011-10-09       ATL     ORD         11.480000  7.990202
4      2012-02-21       DEN     SFO         11.450000  9.517159

Tout d'abord on crée la variable trajet :

In [5]:
X_train["Trajet"] = X_train["Departure"] + '-' + X_train["Arrival"]

## Calcul des distances

On commence par importer le jeu de données.

In [66]:
airports = pd.read_csv("data/airports_2.csv")

In [67]:
airports.head(3)

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919

On selectionne les aéroports qui nous interessent et on vérifie que c'est les même à l'aller et au retour.

In [68]:
np.setdiff1d(X_train["Arrival"].unique(),
             X_train["Departure"].unique())

array([], dtype=object)

La liste des aéroports :

In [69]:
aep = X_train["Arrival"].unique()

In [77]:
aep

array(['DFW', 'DEN', 'LAX', 'ORD', 'SFO', 'MCO', 'LAS', 'CLT', 'MSP',
       'EWR', 'PHX', 'DTW', 'MIA', 'BOS', 'PHL', 'JFK', 'ATL', 'LGA',
       'SEA', 'IAH'], dtype=object)

In [71]:
aep_choice = []

for i in aep :
    aep_choice.append(airports[airports.IATA_CODE == i])
    
distance_collect = pd.concat(aep_choice)

In [95]:
distances_data = distance_collect[["IATA_CODE",
                                   "LATITUDE",
                                   "LONGITUDE"]].reset_index(drop=True)

In [101]:
dict_lat = dict(distances_data.set_index("IATA_CODE")["LATITUDE"])
dict_long = dict(distances_data.set_index("IATA_CODE")["LONGITUDE"])

On essais de voir sur plusieurs fonction quelle est la plus correcte.

In [80]:
from geopy.distance import distance

coords_1 = (distances_data.LATITUDE[0], distances_data.LONGITUDE[0])
coords_2 = (distances_data.LATITUDE[1], distances_data.LONGITUDE[1])

In [85]:
distance(coords_1, coords_2).km

1031.445141120004

On peut l'appliquer à notre DataFrame :

In [123]:
X_train.head()

  DateOfDeparture Departure Arrival  WeeksToDeparture   std_wtd   Trajet
0      2012-06-19       ORD     DFW         12.875000  9.812647  ORD-DFW
1      2012-09-10       LAS     DEN         14.285714  9.466734  LAS-DEN
2      2012-10-05       DEN     LAX         10.863636  9.035883  DEN-LAX
3      2011-10-09       ATL     ORD         11.480000  7.990202  ATL-ORD
4      2012-02-21       DEN     SFO         11.450000  9.517159  DEN-SFO

In [126]:
X_train.apply(lambda x : 
              distance((dict_lat[x["Departure"]],dict_long[x["Departure"]]),
              (dict_lat[x["Arrival"]], dict_long[x["Arrival"]])).kilometers, axis=1)

0       1290.480829
1       1011.406052
2       1387.348018
3        974.688337
4       1556.867872
           ...
8897     956.097361
8898    1290.480829
8899     666.199222
8900    1090.900218
8901     956.097361
Length: 8902, dtype: float64

On conserve les deux dictionnaire :

In [130]:
distances_data.set_index("IATA_CODE").to_csv("dico_trajet.csv")