In [1]:
import pandas as pd
import numpy as np

In [4]:
indice = pd.read_excel('data/TSI_Data.xls')

In [19]:
indice["Date"] = indice.Date.apply(lambda x : pd.to_datetime(x,format='%b %Y', errors='ignore'))

In [23]:
indice["month"] = indice.Date.dt.month
indice["year"] = indice.Date.dt.year

In [26]:
index = indice[['Passengers','month','year']]

In [27]:
index

    Passengers  month  year
0        109.7      1  2009
1        110.7      2  2009
2        108.7      3  2009
3        110.6      4  2009
4        108.0      5  2009
..         ...    ...   ...
57       117.6     10  2013
58       118.7     11  2013
59       117.8     12  2013
60       117.8      1  2014
61       118.4      2  2014

[62 rows x 3 columns]

In [29]:
indice_price = pd.read_csv('data/CPALTT01USM657N.csv')

In [32]:
indice_price["DATE"] = pd.to_datetime(indice_price["DATE"])
indice_price["month"] = indice_price.DATE.dt.month
indice_price["year"] = indice_price.DATE.dt.year

In [37]:
economical_data = indice_price[["CPALTT01USM657N","month","year"]].merge(index, how='left', on=["month",'year'])

In [40]:
external_data = pd.read_csv("submissions/submit/external_data.csv", index_col=0)

In [42]:
external_data = external_data.merge(economical_data, how='left', on=["year",'month'])

In [44]:
external_data = external_data.drop(columns=["month",'year'])

In [49]:
external_data = external_data.rename(columns={"TOTAL_DEPARTURE_x":"TOTAL_DEPARTURE",
                              "TOTAL_DESTINATION_x":"TOTAL_DESTINATION",
                             "CPALTT01USM657N":'INDEX_PRICE',
                             "Passengers":'Index_passengers'})

In [50]:
external_data.to_csv('submissions/submit/external_data.csv')